<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Todo App</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <link
      rel="icon"
      href="/assets/images/icons/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <%- include('../partials/header') %> <%- include('../partials/navigation')
    %>

    <main><%- include('../partials/messages') %> <%- body %></main>

    <%- include('../partials/footer') %>

    <script src="/assets/js/main.js"></script>
  </body>
</html>
